.page{
  height: 30rem;
  width: 100vw;
  margin-top: 5rem;
  background-color: lightgray;
  position:relative;
  display: flex;
  justify-content: space-between;
}

.logo{
  font-size: 1.5rem;
  font-weight:500;
}
.but{
  border-style: none;
  background: none;
  padding: 0;
  font-weight: 550;
  font-size: 1rem;
  padding-left: 10rem;
}
.theheader{
  display: flex;
  height: 100px;
  align-items: center;
  justify-content: space-around;
  width: 100vw;
  position: relative;
  z-index: 10;
}
.outside{
  position: absolute;
  height: 90%;
  width: 100%;
  transition: 3s;
  background-color: lightpink;
}
.inside{
  display: block;
  position: relative;
  height: 100%;
  width: 100%;
  transition: 10s;
  z-index: 4;
  background-color: lightblue;

}
.navigate{
  position: absolute;
  padding: 0;
  margin: 0;
  height: 0;
  width: 100%;
  transition: 10s;
}
.navigate .options{
position: absolute;
margin-top: 7rem;
text-align: left;
}
section ul {
  display: flex;
  flex-direction: column;
  gap:2.5rem;
  font-size: 2rem;
  font-weight: 500;
  margin: 0 15rem;
  text-align: left;
}
section ul a{

}
.active{
  display: flex;
  transition: 10s;
  background-color: lightblue;
  transition: 20s;
}
ul a {
  text-decoration: none;
  text-align: left;
  display: block;
}
.theback{
  display: flex;
  justify-content: center;
  align-items: center;

}
.dback{
  display: block;
}

.background{
  height: 3rem;
  padding: 3rem 0;
  background: lightpink;
  margin: 5rem 3rem;
  position: relative;
}
.backgroundz{
  width: 100%;
  background: lightblue;
  position: absolute;
  margin: 0;
  padding: 0;
  top: 0;
}
body{
  overflow-x: hidden;
}
.tru{
  position: absolute;
}
.lat{
  padding: 5px 10px;
  margin-top: 2rem
}
.reveal{
  margin: 5rem 12rem;
  height: 50vh;
  width: 70vw;
  background: lightgray;

}
.reveal-out{
   position: relative;
   background: lightblue;
   margin: 0;
   padding: 0;
   width: 100%;

}
.reveal-in{
  position: absolute;
  background: lightpink;
  margin: 0;
  padding: 0;
  width: 100%;

}
.card-cont{
  display: flex;
  justify-content:center;
  gap: 2rem;
}
.card, .card1, .card2{
  height: 10rem;
  width: 17rem;
  background-color: lightgray;
  margin: 3rem 0;
}
.mymenu{
  position: absolute;
  margin: 0;
  padding: 7px 15px;
  right: 2rem;
  top:2rem;
  border-radius: 8px;
  border-style: none;
}
.lia{
  width: 80vw;
  height:80vh
}
.first{
  margin: 5rem 7rem;
  position: relative;
}
.ontop{
  height: 80vh;
  width: 80vw;
  z-index: 10;
  position: absolute;
  top: 0;
}
.top{
  height: 6rem;
  width: 80rem;
  background: white;
  top:0;
  position: absolute;
  margin-bottom: 10rem;
}
.down{
  height: 6rem;
  width: 80rem;
  background: white;
  bottom: 0;
  right:0;
  position: absolute;
}
.ontop:hover .top{
  width: 7rem;
  transition: 5s;
}
.ontop:hover .down{
  width: 7rem;
  transition: 5s;
}
.imgtest{
  height: 100vh;
  width: 100vw;
  background-color: brown;
}
.imgsix{
  width: 100%;
  height:100%;
}
